

md-toolbar{
    margin: 0%;
}
.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}

p{
  font-size: 12px;
}
.btn{
    background-color: rgb(250,166,244);
    float: right;
    margin-left: 4px;
    color: rgb(63,81,181);
    font-weight: bold;
    }

    .btn2{
  /* position: absolute; */
    background-color: rgb(250,166,126);
  color: rgb(63,81,181);
    font-weight: bold;
  /* margin-left: 1230px; */
    
 }

    .btn3{
    background-color: rgb(255,0,0);
  color: rgb(63,81,181);
    font-weight: bold;
  
    }    
  button{
    margin:0px 1px;
  }
