<div>
  <md-card>
    <h5>Enter Your Auction Details</h5>
    <form [formGroup]="myForm" (ngSubmit)="submit(myForm.value)">

      <md-input-container>
        <input mdInput placeholder="Title" type="text" name="text" formControlName="Title">
      </md-input-container><br>
      <md-input-container>
        <input mdInput placeholder="Description" type="text" name="Description" formControlName="Description">
      </md-input-container><br>
      <md-input-container>
        <input mdInput placeholder="AutionEndDate" type="date" name="AutionEndDate" formControlName="AutionEndDate">
      </md-input-container><br>
      <md-input-container>
        <input mdInput placeholder="AutionEndTime" type="time" name="AutionEndDate" formControlName="AutionEndTime">
      </md-input-container><br>
      <md-input-container>
        <input mdInput placeholder="MinimumBidAmount" type="text" name="AutionEndDate" formControlName="BidStartingAmount">
      </md-input-container><br>
      <h5>Category</h5>
      <md-radio-group [formControl]="myForm.controls['Category']">
        <md-radio-button value="mobile">mobile</md-radio-button>
        <md-radio-button value="laptop">laptop</md-radio-button>
        <md-radio-button value="tablet">tablet</md-radio-button>
      </md-radio-group><br>
      <button md-button class="same" name="submit" value="submit" type="submit">Add Auction</button>
      <span>or</span>
      <button md-button class="cancel" type="button" routerLink="/home">Go to Home</button>



    </form>

  </md-card>
</div>