<!-- 
<div>
<md-card>
  <h1>Register</h1>
<form [formGroup]="form" (ngSumbit)="register(this.form)"
  <div>
    <md-input-container>
      <input mdInput placeholder="Full Name" type="text" name="text" [(ngModel)]="name">
    </md-input-container><br>
    <md-input-container>
      <input mdInput placeholder="Email" type="email" name="email" [(ngModel)]="email">
    </md-input-container><br>
    <md-input-container>
      <input mdInput placeholder="Password" type="password" name="password" [(ngModel)]="password">
    </md-input-container><br>
    <md-radio-group [(ngModel)]="type">
      <md-radio-button value="user" selected="selected">user</md-radio-button>
<md-radio-button value="admin">admin</md-radio-button>  -->
<!-- -->
<!-- </div> -->
<!-- <button routerLink="/admin">admin</button> -->



<div>
  <md-card>
    <h1>Register</h1>
    <form [formGroup]="form" (ngSubmit)="register(this.form.value)">
      <md-input-container>
        <input mdInput placeholder="Full Name" type="text" name="text" formControlName="name">
      </md-input-container><br>
      <md-input-container>
        <input mdInput placeholder="Email" type="email" name="email" formControlName="email">
      </md-input-container><br>
      <md-input-container>
        <input mdInput placeholder="Password" type="password" name="password" formControlName="password">
      </md-input-container><br>
      <md-radio-group formControlName="type">
        <md-radio-button value="user" selected="selected">user</md-radio-button>
        <!-- <md-radio-button value="admin">admin</md-radio-button>  -->
      </md-radio-group><br>
      <button class="same" md-button type="submit" [disabled]="!this.form.valid">Register</button>


      <br>
      <p>already registered?<a routerLink="/login">login</a></p>
    </form>
  </md-card>
</div>